<form [formGroup]="SimpleInterestForm" (ngSubmit)="submit()" #myform>
    
    <div class = "form-group">
        <label for = "principal">Principal </label>
        <input
        type="text"
        class="form-control"
        name = "principal"
        formControlName = "principal"
        [ngClass]="
        f.principal.invalid && 
        (f.principal.dirty || f.principal.touched)? 
        'is-valid' : '' "
        />

        @if (f.principal.invalid && (f.principal.dirty || f.principal.touched)) {
            <small class = "alert alert-danger">
                Principal is mandatory and cannot be below 100. 
            </small>
        }
    </div>

    <div class = "form-group">
        <label for = " rate">Rate</label>
        <input 
        type = "text"
        class="form-control"
        name = "rate"
        formControlName = "rate"
        [ngClass]=" f.rate.invalid && 
        (f.rate.dirty || f.rate.touched)?
        'is-valid' : '' " 
        /> 
        @if (f.rate.invalid && (f.rate.dirty || f.rate.touched)) {
            <small class = "alert alert-danger">
                Rate is amndatory and cannot be below 1.
            </small>
        }
    </div>

    <div class = "form-group">
        <label for = "time">Time</label>
        <input
        type="text"
        class = "form-control"
        name = "time"
        formControlName = "time" 
        [ngClass]="
        f.time.invalid && 
        (f.time.dirty || f.time.touched)? 
        'is-valid': '' " 
        />
        @if (f.time.invalid && (f.time.dirty || f.time.invalid)) {
            <small class = " alert alert-danger">
                Time is mandatory and cannot be below 1.
            </small>
        }
    </div>
    <button
        type = "submit"
        class = "btn btn-primary"
        [disabled] = "!SimpleInterestForm.valid">
            Calculate 
    </button>
</form>

